.btn {
    display: flex;
    padding: 1px 10px; 
    font-family: 'Roboto Condensed', sans-serif;           
    align-items: center;
    justify-content: center;   
    appearance: none;
    background-color: #4676D7; 
    border: none;
    height: 30px;
    color: white;       
    cursor: pointer; 
    &:hover{
        background-color: black;
        }
        &:focus{    
           opacity: 1;            
            }
}
.capitalize {
    text-transform: capitalize;
}

.bag_btn[disabled] {
 background-color: rgb(97, 13, 13) !important;
 cursor: default;
 &:active{     
     opacity: 1 ;            
    }
}
.shopping_bag_img_btn {
    width: 20px;
    height: 20px;
    margin-right: 10px;    
}
.wrapper_text {   
    display: flex;
    justify-content: center;
    width: 100%;    
}
