.wrapper_form {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 400px;
    min-width: 300px;
    gap: 15px;   
}
.wrapper_sizes, .wrapper_colors {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;   
}

.input_radio_size, .input_radio_color {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.radio_size_custom {
    display: flex;     
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid black; 
    cursor: pointer;   
}
.input_radio_size:checked + .radio_size_custom {
    background-color: black;
    transition: .5s;
    color: white;
}
.radio_color_custom {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
}
.input_radio_color:checked + .radio_color_custom {
    box-shadow: 0px 0px 3px 2px gray;
    transition: .5s;
}
.wrapper_quantity {
    width: 90px;
}
.wrapper_submit {
    display: flex;
    flex-direction: row;   
    height: 40px;
    align-items: stretch; 
    font-size: 1.1rem; 
}
.tip {    
    visibility: hidden;
    font-size: 0.8rem;
    color: red;
}
.active {
    visibility: visible;
}
.price {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.shopping_bag_img_btn {
    width: 20px;
    height: 20px;
    margin-right: 10px;    
}
.wrapper_text_into_btn {   
    display: flex;
    justify-content: center;
    width: 100%;     
}