$color-gray-transp:  rgba(128, 128, 128, 0.9);
$color-brand: #4676D7;
.wrapper_page {
    padding: 10px 20px;
}
.Layout_2_column {
    display: flex;
    @media (max-width: 760px) {
        flex-direction: column;
      } 
    flex-direction: row;
    gap: 30px;   
}
.wrapper_img {
    max-width: 350px;    
    flex: 0 0 30%;
    margin-top: 25px;
}
.wrapper_img img {
    object-fit: contain;
    width: 100%;    
}
.wrapper_desc {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;   
    gap: 15px;
}

.price {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.desc {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
    font-size: 1.1rem;    
}

.wrapper_rate {
    display: flex;
    font-size: 1.1rem;    
}
.rate {
    margin: 0 5px 0 5px;
    color: $color-gray-transp;   
}
.comments {
    margin: 0 5px 0 5px;
    color: $color-gray-transp;
}