.wrapper {
    border-top: 1px solid rgba(128, 128, 128, 0.5) ;
    display: flex;
    justify-content: space-between;
}
.price {
    font-size: 1.2rem;
    font-weight: bold;
    min-width: 100px;    
}
.wrapper_checkout_btn {
    display: flex;
    justify-content: flex-end;
 }
 .checkout_btn {
     box-sizing: border-box;
     height: 32px;
     background-color:  #198cff;
     color: white;
     border: none;
     border-radius: 5px;
     margin-top: 15px;
     padding: 5px 10px;
     cursor: pointer;       
 }