.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:13px;
}
.user {
    cursor: pointer;
    svg {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            fill: black;
        }
    }
}