.wrapper_color {
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-top: 0px;
    li {
        position: relative;
        &:hover {
            .tooltip {
                visibility:  visible !important;            
            }
    }
 
}
.color_edit {
    position: relative;    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 3px;
    cursor: pointer;

    }
}
.currentColor {
    font-size: 1rem;
}
.gray {
    background-color: gray;
}
.blue {
    background-color: blue;
}
.brown {
    background-color: brown;
}
.black {
    background-color: black;
}
.active_color {
    box-shadow: 0 0 2px 1px;
    border-radius: 50%;
}
.tooltip {
    position: absolute;
    visibility: hidden;
    font-size: 0.9rem;
    padding: 5px 10px;
    box-shadow: 0px 0px 2px 1px gray;
    background-color: white;
    border-radius: 5px;

}