.wrapper_burger_menu {
    position: relative;
    display: none;
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
    @media (max-width: 760px) {
        display: flex;
      } 
}
@mixin line {
    position: absolute;    
    width: 100%;
    height: 1px;
    background-color: black;
  }
.burger_line {  
    @include line;
}

.burger_line::before{
    content: "";
    @include line;
    top: 8px;
    left: 0;
  
}
.burger_line::after{
    content: "";
    @include line;
    top: -8px;
    left: 0; 
}