.search {
    border: none;
    border-bottom: 1px solid gray;    
    outline: none;
    font-size: 1.1rem;
    font-family: inherit;
    &:focus {
       border-color: red;   
    }
    &::placeholder {
      font-family: 'Roboto Condensed', sans-serif;
    }
 
     }
    