
footer {
    border-top: 1px solid rgba(128, 128, 128, 0.308);    
    width: 100%;
    flex: 0 0 auto;
    margin-top: 10px;       
    }
.layer_3_column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;   
}
.navigation nav a {
    font-size: 1rem;
    align-items: flex-start;
    margin-bottom: 10px;
}
.contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    gap:5px;
    li {
        display: flex;    
        box-sizing: border-box;
        align-items: center;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            & svg:hover {
                fill: red;
                transition: 0.3s ease-in-out;        
            }  
    }    
}
}