.wrapper_page {
    padding: 10px 20px;
}
.wrapper_products {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    padding: 15px;
}
.wrapper_product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 480px) {
        flex-direction: column;       
        gap: 15px;
    }
}
.product_desc {
    display: flex;    
    @media (max-width: 480px) {
        flex-direction: row;              
    }
}   
.wrapper_trash {
    display: flex;
    justify-content: flex-end;
} 
.trash {
    width: 20px;
    height: auto;
    cursor: pointer;
    @media (max-width: 760px) {
        text-align: right;     
    }
}
.wrapper_product_img {
    width: 60px;    
    height: 100px;
    margin-right: 10px;
    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}
.product_title {
    width: 300px;
    letter-spacing: .1rem;
    @media (max-width: 760px) {
       width: 200px;
       font-size: .9rem;
    }
   
}
.desc_wrapper_title {
    display: flex;    
    flex-direction: column; 
    gap: 10px;     
}
.price_mobile_screen {
    display: none;
    font-weight: bold;
    @media (max-width: 480px) {
        display: block;
     }
}
.text_bold {
    font-weight: bold;
}
.price_desktop_screen {
    width: 80px;
    @media (max-width: 480px) {
        display: none;
     }     
}