$color-brand: #4676D7;
.wrapper {
    display: flex;
}
.wrapper button {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: $color-brand;
    border: none;
    padding: 0px;
    text-align: center;
    font-size: 1.1rem;
    color: white;
}
button:active {
    opacity: 0.5;   
   }
.wrapper input {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    outline: none;
    text-align: center;
    border: none;
    padding: 2px;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
}