.wrapper {
    padding: 10px 20px;
}
.category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.category_box {
    position: relative;
    width: 100%;  
    height: 300px;     
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
.category_title {
    position: absolute;   
    width: 100%;
    height: 25%;
    background-color: rgba(128, 128, 128, 0.5);    
    font-size: 2rem;
    font-weight: 400;
    vertical-align:bottom;
    color: white;
    bottom: 0;
    z-index: 1;
}