.wrapper {   
    position: absolute;
    transform: scale(0);
    max-width: 300px;
    min-width: 250px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: white;
    margin-top: 10px;
    right: 0;
    top: 100%;
    z-index: 99;  
}
.wrapper_menu{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 15px;
    gap: 10px; 
    li:hover {
        color: red;
        transition: 0.3s;
    }    
}
.active {
    transform: scale(1) !important;
    transition: 0.05s;
}
